<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group">
                    <f:link.action action="new" class="btn btn-default"><core:icon identifier="actions-plus" /></f:link.action>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <f:for each="{addressbooks}" as="addressbook">
                        <div class="col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h1 class="card-title">{addressbook.title}</h1>
                                    <div class="card-body">
                                        {addressbook.description -> f:format.nl2br()}<br>
                                        Addresses: {addressbook.addresses -> f:count()}
                                    </div>
                                    <f:link.action action="show" arguments="{addressbook: addressbook}" class="btn btn-default">
                                        <core:icon identifier="actions-open" />
                                    </f:link.action>
                                    <f:link.action action="delete" arguments="{addressbook: addressbook}" class="btn btn-danger">
                                        <core:icon identifier="actions-delete" />
                                    </f:link.action>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
    </f:section>
</html>
